.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#choose_room {
  background-color: #593196;
  width: 20%;
  height: 70%;
  border-radius: 5%;
  padding: 3%;
}

#choose_room_form_input {
  width: 40%;
  border-radius: 13px;
  text-align: center;
}

.zone_saisie {
  margin-bottom: 3%;
}

#m {
  width: 85%;
  border-radius: 10%;
}

#message_room_input {
  width: 32.5vh;
  border-radius: 13px;
  text-align: center;
  display: inline-block;
}

#send {
  width: 5vh;
  margin-left: 2%;
  border-radius: 13px;
  text-align: left;
}

#msg_footer {
  margin-top: 54vh;
  position: fixed;
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6f41b5;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a991d4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a991d4;
}

.box_info {
  margin-right: 7%;
  border-radius: 5%;
  background-color: #593196;
  width: 12%;
  height: 20%;
  color: white;
}
